@charset "utf-8";

.moving_master .content08 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    & + .content05 {
        padding-top: 32px;
        background-color: #fff;

        .content__heading {background-color: $gray-03;}

        @media (min-width: 768px) {
            background-color: $gray-03;

            .content__heading {margin-bottom: 0; background-color: #fff;}
        }
    }

    @media (min-width: 768px) {
        padding-top: 10px;
        padding-bottom: 40px;
        background-color: #fff;

        &__wrapper {
            position: relative;
            width: 645px;
            margin: 0 auto;
            background-color: $gray-03;
            box-sizing: border-box;
        }
    }

    .content__heading {
        padding-bottom: 24px;
        color: $gray-04;
        font-size: 16px;
        font-weight: 600;

        @media (min-width: 768px) {
            position: absolute; top: 25px; right: 0; left: 310px;
        }
    }
    .content__text {
        text-align: center;

        @media (min-width: 768px) {
            font-size: 14px;
            line-height: (14 * 1.5) + px;
        }
    }
    .content__image[width='194'] {display: none;}

    @media (min-width: 768px) {
        .content__image[width='170'] {display: none;}
        .content__image[width='194'] {display: block;}
    }

    &__list {
        @include listSlide;

        overflow: hidden;
        height: 450px;

        @media (min-width: 768px) {
            height: 335px;
        }

        .list__arrow {
            top: 82px;
            transform: translateY(0);

            @media (min-width: 768px) {
                top: 118px;
                
                &--prev {left: 8px; margin-left: 0;}
                &--next {left: 288px; margin-left: 0;}
            }
        }

        .list__inner {
            overflow: hidden;
            width: 252px; height: 262px;
            margin: 0 auto 16px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);

            @media (min-width: 768px) {
                position: absolute; top: 37px; left: 47px;
            }
        }

        @media (min-width: 768px) {
            .list__item {
                position: relative;
                height: 335px;
                padding-top: 70px;
                padding-left: 310px;
                box-sizing: border-box;
            }
        }
    }

    .inner__desc {
        margin: 14px auto;
        color: #666;
        font-size: 16px;
        line-height: 1.9em;
    }

    // swiper
    .swiper-slide {opacity: 0 !important;}
    .swiper-slide.swiper-slide-active {opacity: 1 !important;}
}
