@charset "utf-8";

.moving_master {
    .fixed_bar {
        position: fixed; bottom: 0; left: 0; right: 0; z-index: 100;
        background-color: rgba(51, 51, 51, 0.85);
        color: #fff;
        font-size: 16px;
        letter-spacing: -0.5px;

        @media (min-width: 768px) {
            display: none;
        }
    
        &__wrapper {
            display: flex;
            height: 58px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__button {
            display: inline-block;
            height: 40px;
            margin-left: 10px;
            padding-right: 10px;
            padding-left: 10px;
            color: #3b3b3b;
            font-size: 16px;
            font-weight: 700;
            background-color: #f8e535;
            border-radius: 40px;
            box-sizing: border-box;
        }
    }
    .fixed_bar_wide {
        display: none;
        overflow: hidden;
        position: fixed; bottom: 0; left: 50%; z-index: 100;
        width: 645px; height: 90px;
        background-color: rgba(51, 51, 51, 0.85);
        padding-right: 190px;
        padding-left: 75px;
        transform: translateX(-50%);
        border-radius: 7px 7px 0 0;
        box-sizing: border-box;
        color: #fff;

        @media (min-width: 768px) {
            display: block;
        }

        .fixed_bar {
            &__wrapper {
                height: 100%;
                text-align: left;
            }
            &__summary {
                position: absolute; top: -50px; left: -50px;
                display: flex;
                width: 100px; height: 100px;
                padding-bottom: 3px;
                color: $gray-01;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: -0.5px;
                background-color: #fff;
                text-align: center;
                justify-content: center;
                align-items: flex-end;
                box-sizing: border-box;
                transform: rotate(-45deg);
            }
            &__timer {
                width: 220px;
                letter-spacing: -0.5px;

                .timer__title {
                    display: block;
                    padding-left: 5px;
                    color: rgba(255, 255, 255, 0.4);
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                }
                .timer__inner {
                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                }
                .timer__number,
                .timer__colon {
                    display: block;
                    float: left;
                    font-size: 34px;
                    font-weight: 300;
                    line-height: 40px;
                }
                .timer__number {
                    padding-right: 3px;
                    padding-left: 3px;

                    &:after {
                        display: block;
                        overflow: hidden;
                        width: 30px; height: 12px;
                        margin: 5px auto 0;
                        color: transparent;
                        font-size: 12px;
                        background-image: url("//res.tutoring.co.kr/res/images/pay/movie/web/montserrat.png");
                        background-repeat: no-repeat;
                        background-position: -180px -12px;
                        background-size: 180px 12px;
                    }

                    &--day:after {content: "일"; background-position: 0 0;}
                    &--hrs:after {content: "시"; background-position: -50px 0;}
                    &--min:after {content: "분"; background-position: -100px 0;}
                    &--sec:after {content: "초"; background-position: -150px 0;}
                }
                .timer__colon {
                    &--active {
                        animation: blink 1s step-start 0s infinite;
                    }
                }
            }
            &__price {
                display: flex;
                width: 190px;
                text-align: right;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;

                .sales_price {
                    display: block;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 34px;
                    letter-spacing: -0.5px;
                }
                .price_option {
                    color: rgba(255, 255, 255, 0.4);
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                }
            }
            &__button {
                position: absolute; top: 50%; right: 20px;
                width: 160px; height: 56px;
                border-radius: 56px;
                box-shadow: 0 39px 22px -11px rgba(155, 106, 0, 0.2);
                transform: translateY(-50%);

                &:after {
                    content: "";
                    overflow: hidden;
                    display: inline-block;
                    position: relative;
                    width: 7px; height: 7px;
                    margin-top: 6px;
                    margin-left: 12px;
                    border-top: 3px solid #3b3b3b;
                    border-right: 3px solid #3b3b3b;
                    border-radius: 2px;
                    -webkit-transform: translate(-50%,-50%) rotate(45deg);
                    transform: translate(-50%,-50%) rotate(45deg);
                    vertical-align: middle;
                }
            }
        }
    }
}

@keyframes blink {
    50% {
        opacity: 0
    }
}
