@charset "utf-8";

$content_prefix: 'b2bProgram';

.#{$content_prefix} {
    .mobile_br {
        display: none;
    }

    @include desktop {
        min-width: 1024px;
    }
    @include all_mobile {
        .mobile_br {
            display: block;
        }
    }
}
.#{$content_prefix}_compare {
    @include all_mobile {
        display: none;
    }
}

