@charset "utf-8";

.landing__banner {
    text-align: center; 
    background-color: #f5f5f5;

    .banner__image {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    @include tablet {
        .banner__bnrPoint {
            height: 125px;
            background-color: #000f3d;
            background-image: url('//res.tutoring.co.kr/res/images/evt/com/invite/invite_bnrPoint--ipad.jpg');
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: auto 126px;

            @at-root :lang(en) & {
                background-image: url('//res.tutoring.co.kr/res/images/evt/com/invite/inviteEN_bnrPoint--ipad.jpg');
            }
            @at-root :lang(zh) & {
                background-image: url('//res.tutoring.co.kr/res/images/evt/com/invite/inviteZH_bnrPoint--ipad.jpg');
            }

            img {
                display: none;
            }
        }
        .banner__bnrMall {
            height: 146px;
            background-color: #ffdc54;

            img {
                width: auto; height: 100%;
            }
        } 
    }   
} //.landing__banner
