@charset "utf-8";

.tutoring-pick {
    text-align: center;

    .pick-add {
        position: relative;
        display: inline-block;
        min-width: 223px;
        padding: 4px 10px;
        background-color: #000;
        color: #fff;
        line-height: 1.88em;
        text-align: center;
        letter-spacing: 3.2px;
        box-sizing: border-box;

        &:after {
            content: '';
            position: absolute; bottom: 0; left: 50%;
            width: 0; height: 0;
            margin-bottom: -6px;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #000;
        }
    }
    .pick-title {
        margin: 4px 0 16px;
        font-size: 26px;
        font-weight: 300;
    }
    .pick-score {
        overflow: hidden;
        display: inline-block;
        position: relative;
        width: 167px; height: 167px;
        background-color: #ff4452;
        color: #fff;
        font-size: 46px;
        font-weight: 600;
        line-height: 167px;
        letter-spacing: -2.24px;
        font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
        border-radius: 50%;
        vertical-align: top;

        span {
            padding-right: 2px;
            font-size: 76.8px;
            font-weight: 600;
            vertical-align: baseline;
        }
    }
    .pick-talk-box {
        position: relative; z-index: 20;
        width: 300px;
        margin-top: 4px;
        margin-right: auto;
        margin-left: auto;
        padding: 12px 0;
        border: 1px solid #ff4452;
        font-size: 14px;
        line-height: 1.86em;
        letter-spacing: -1px;
        box-sizing: border-box;

        &:before {
            content: '';
            position: absolute; top: -6px; left: 50%;
            width: 12px; height: 10px;
            border-right: 1px solid #ff4452;
            border-top: 1px solid #ff4452;
            background-color: #fff;
            transform: rotate(-60deg) skew(-35deg);
        }

        b {
            display: block;
        }
    }
    .pick-tip {
        display: block;
        padding-top: 12px;
        color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        font-weight: 600;
        line-height: 1.42em;
    }
}
