@charset "utf-8";

.alpha-detail__notice {
    padding-top: 50px;
    padding-right: ($alpha-detail-hspace + 10);
    padding-left: ($alpha-detail-hspace + 10);
    padding-bottom: ($alpha-detail-vspace * 2);
    background-color: #f8f7fb;

    @include tablet {
        padding-right: $alpha-detail-tablet-hspace;
        padding-left: $alpha-detail-tablet-hspace;
    }

    .notice__wrapper ~ .notice__wrapper {margin-top: 55px;}

    .notice__title {
        margin: 0;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #d8d8d8;
        color: #555;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4em;
        letter-spacing: -0.5px;
    }
    .notice__list {
        margin: 5px 0 0 0;
        padding: 0 0 0 12px;
        list-style: none;

        & ~ .notice__title {margin-top: 55px;}

        .list__item {
            padding-top: 2px;
            padding-bottom: 2px;
            color: #555;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.8em;
            letter-spacing: -1px;

            &:before {
                content: "";
                position: absolute;
                width: 4px; height: 4px;
                margin-top: 10px;
                margin-left: -10px;
                background-color: #919191;
                border-radius: 5px;
            }
        }

        .point-text {
            font-weight: 600;
        }
    }
}
