@charset "utf-8";

.alpha-home__spot {
    padding-top: 60px;
    padding-right: $alpha-detail-hspace;
    padding-left: $alpha-detail-hspace;
    padding-bottom: $alpha-detail-vspace;
    background-image:
        url('//res.tutoring.co.kr/res/images/pay/home3.0/alpha/alpha_header.png'),
        linear-gradient(to bottom,#000 190px,rgba(0,0,0,0) 230px);
    background-repeat: no-repeat, repeat;
    background-position: 50% 115px, 0 0;
    background-size: 350px auto, 100% auto;

    @include tablet {
        padding: $alpha-detail-tablet-hspace;
        padding-bottom: 100px;
    }

    .spot__title {
        padding-bottom: 24px;
    }

    .spot__heading {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.47em;
        letter-spacing: -1px;
    }
    .spot__description {
        margin: 0 0 6px 0;
        padding: 0;
        color: #fff;
        font-size: 14px;
        line-height: 1.45em;
        letter-spacing: -0.5px;
    }
    .spot__content {
        position: relative;
        padding-top: 56.25%;
    }
    .spot__video {
        overflow: hidden;
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        border-radius: 10px;
        background-color: #000;

        iframe {
            display: block;
            width: 100%; height: 100%;
        }
    }
    .spot__link {
        overflow: hidden;
        display: block;
        max-width: 768px;
        height: 50px;
        margin: 24px auto 0;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.5px;
        line-height: 50px;
        text-align: center;
        // background-color: #e9e9e9;
        background-color: #34bcff;
        border-radius: 28px;
        cursor: pointer;

        &:after {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: -3px 0 3px 8px;
            border-bottom: 2.5px solid #fff;
            border-left: 2.5px solid #fff;
            transform: rotate(-45deg);
            vertical-align: middle;
        }
    }

    ~ .common-special__coupon {margin-top: -74px;}
}
