@charset "utf-8";

.jiayou-detail {
    .summary__icon {
        &:before {
            background-position: 0 0;
            background-size: 100% auto;
        }
        &--ai:before {background-image: url('//res.tutoring.co.kr/res/images/pay/zzayo/detail_1.png');}
        &--talk:before {background-image: url('//res.tutoring.co.kr/res/images/pay/zzayo/detail_2.png');}
        &--course:before {background-image: url('//res.tutoring.co.kr/res/images/pay/zzayo/detail_3.png');}
    }
    .alpha-detail__order {
        background-image: linear-gradient(180deg,$zzayo-main-color 140px, transparent 460px);
    
        .order__subject {
            color: #fff;
            border-color: #fff;
        }
        .order__heading {color: #ff8ea9;}
    }
    .alpha-detail__price {
        .price__text {color: $zzayo-main-color}
        .price__link {
            background-color: $zzayo-main-color;
            box-shadow: 0 4px 15px -4px $zzayo-main-color;
        }
    }
    .alpha-detail__intro .intro__content b {color: $zzayo-main-color}
}
