@charset "utf-8";

.summer-friends .item_vod {
    padding: 44px 0 60px;
    color: #fff;
    letter-spacing: -1px;
    text-align: center;
    background: url(//cdn.tutoring.co.kr/uploads/home/img/main/version3/bg_vod_m.png) 0 0 no-repeat;
    background-size: 100% auto;

    .tit_sub {
        display: block;
        color: #ffe812;
        font-size: 16px;
    }
    .tit_item {
        display: block;
        padding-top: 3px;
        color: #fff;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.43em;
        letter-spacing: -2px;

        span {display: block;}
    }
    .inner_item {
        width: 300px;
        margin: 50px auto 0;
        text-align: left;
    }
    .play_vod {
        width: 300px; height: 168px;

        iframe {
            display: block;
            width: 100%; height: 100%;
        }
    }
    .list_vod li {margin-top: 20px;}
    .link_vod {
        display: flex;
        align-items: center;
    }
    .thumb_g {
        display: block;
        width: 120px; height: 67px;
        margin-right: 10px;
        background-size: 100% auto;
        flex: none;
    }
    .txt_clamp {
        overflow: hidden;
        display: -webkit-box;
        color: #fff;
        font-size: 15px;
        line-height: 25px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}
