@charset "utf-8";

#tutoringWrap {
	min-width: 320px;
}
#tutoringContent {
    overflow: hidden;
}

// sprite image
.ico_g_main,
.label_hot,
.ico_banner {
    overflow: hidden;
    display: inline-block;
    color: transparent;
    vertical-align: top;
}

.ico_g_main,
.list_obtain li:before,
.list_obtain li:after,
.btn_swiper:after {
    background-image: url(//cdn.tutoring.co.kr/uploads/home/img/main/version3/ico_home_190402.png);
    background-repeat: no-repeat;
    background-size: 420px 400px;
}

// footer 바로 위 동영상 레이어
.layer_comm {
    display: none;
    position: fixed; top: 0; left: 0; z-index: 100;
    width: 100%; height: 100%;
    
    .dimmed {
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        

        @include all_mobile {
            background-color: rgba(0, 0, 0, 1);
        }
    }
    .btn_close {
        position: absolute; top: -44px; right: 0;

        @include all_mobile {
            position: fixed; top: 0;
            padding: 17px;
        }

        .ico_close {
            width: 30px; height: 30px;
            background-position: -226px -74px;

            @include all_mobile {
                width: 16px; height: 16px;
                background-position: -280px -134px;
            }
        }
    }
    .inner_layer {
        position: fixed; top: 172px; left: 50%;
        width: 740px;
        margin-left: -352px;
        background-color: #fff;

        @include all_mobile {
            top: 10%; left: 0;
            width: 100%;
            margin-left: 0;
        }

        iframe {
            display: block;
            width: 100%;
        }
    }
}

// 지금 무료 체험하기 버튼
.btn_fixed {
    display: block;
    position: fixed; bottom: 0; left: 0; z-index: 20;
    width: 100%; height: 100px;
    padding: 0;
    color: #fff;
    font-size: 32px;
    line-height: 100px;
    text-align: center;
    background: url('//cdn.tutoring.co.kr/uploads/home/img/main/version3/bg_btn_gra.png') no-repeat 0 0;
    background-size: 100% 100%;

    @include all_mobile {
        height: 60px;
        font-size: 20px;
        line-height: 60px;
    }
    @include big_desktop {
        display: none;
    }
}