@charset "utf-8";

$main-color: #34bcff;
$point-color: #ff1959;
$point-color2: #6759ef;
$zzayo-main-color: #f93e5e;

$layoutMaxWidth: 1200px;
$layoutMinWidth: 768px;
$card-item-hspace: 20px;
$card-item-vspace: 60px;
$alpha-detail-hspace: 20px;
$alpha-detail-vspace: 100px;
$alpha-detail-tablet-hspace: 55px;

@mixin multi_ellipsis($line) {
    overflow: hidden;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}
@mixin spriteIcoHome {
    width: 16px; height: 16px;
    background-image: url('//res.tutoring.co.kr/res/images/pay/home3.0/ico_payhome.png');
    background-repeat: no-repeat;
    background-size: 156px 76px;
    
}
@mixin alphaContentIcon {
    width: 40px; height: 40px;
    background-image: url('//res.tutoring.co.kr/res/images/pay/home3.0/alpha/ico_alpha.png');
    background-repeat: no-repeat;
    background-size: 232px 40px;
}


@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1199px) {
        @content;
    }
}
@mixin small_mobile {
    @media (max-width: 767px) {
        @content;
    }
}
@mixin all_desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mainDivisonInfo {
    margin-right: auto;
    margin-left: auto;
    padding-right: $card-item-hspace;
    padding-left: $card-item-hspace;
    box-sizing: border-box;

    @include tablet {
        padding-right: $alpha-detail-tablet-hspace;
        padding-left: $alpha-detail-tablet-hspace;
    }
}

@mixin contentMoreItem($hspace) {
    position: absolute; bottom: 0; right: $hspace; left: $hspace;
    height: 147px;
    padding-top: 107px;
    background-image: linear-gradient(hsla(0,0%,96%,0),#f5f5f5 59%);
    box-sizing: border-box;

    .more__text {
        display: block;
        height: 50px;
        text-align: center;
        color: transparent;

        &:before {
            content: "";
            position: absolute; top: 75px; left: 50%;
            width: 8px; height: 8px;
            margin: 0 auto;
            border-top: 3px solid rgba(119, 119, 119, 0.4);
            border-right: 3px solid rgba(119, 119, 119, 0.4);
            transform: rotate(135deg);
        }
    }
}

@mixin templateHeadingBox {
    position: relative;
    padding-bottom: 20px;

    .title__heading {
        display: inline-block;
        margin: 0;
        padding: 0 5px 0 0;
        color: #333;
        font-size: 34px;
        font-weight: 300;
        letter-spacing: -0.5px;
        line-height: 1.47em;
    }
    .title__arrow {
        display: inline-block;
        width: 12px; height: 12px;
        margin-top: -10px;
        margin-left: 5px;
        border-top: 2px solid rgba(119, 119, 119, 0.4);
        border-right: 2px solid rgba(119, 119, 119, 0.4);
        vertical-align: middle;
        transform: rotate(45deg);
    }
    .title__description {
        display: block;
        color: #919191;
        font-size: 14px;
        letter-spacing: -0.5px;
    }
}

@mixin templateCardScrollWrap {
    overflow-y: auto;
    height: 270px;
    margin-right: -$card-item-hspace;
    margin-left: -$card-item-hspace;

    &::-webkit-scrollbar {display: none;}

    @include tablet {
        margin-right: -($alpha-detail-tablet-hspace);
        margin-left: -($alpha-detail-tablet-hspace);
    }
}

@mixin templateCardList {
    display: inline-block;
    margin: 0;
    padding: 0 ($card-item-hspace - 8px);
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    vertical-align: top;

    @include tablet {
        padding: 0 ($alpha-detail-tablet-hspace - 8);
    }

    .list__item {
        display: inline-block;
        padding-right: 8px;
        padding-left: 8px;
        vertical-align: top;
        white-space: normal;
    }
}

@mixin templateCardItem {
    .card__item {
        overflow: hidden;
        position: relative;
        width: 260px; height: 240px;
        background-color: #d8d8d8;
        border-radius: 10px;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    
        .item__title {
            @include multi_ellipsis(3);
    
            position: absolute; top: 16px; left: 20px;
            z-index: 20;
            width: 60%;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5em;
            letter-spacing: -0.5px;
            word-break: keep-all;
            word-wrap: break-word;
        }
        .item__image {
            width: 100%; height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: 100% auto;

            &--dimmed:before {
                content: "";
                position: absolute; top: 0; right: 0; bottom: 0; left: 0;
                z-index: 10;
                background-image: linear-gradient(180deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,0) 50%);
            }
        }
    } //.card__item
    .card__detail {
        position: absolute; bottom: 0; right: 0; left: 0;
        z-index: 20;
        padding: 12px 20px;
        background-color: #fff;
    
        .icon {
            @include spriteIcoHome;

            display: inline-block;
            width: 16px; height: 16px;
            margin: -2px 4px 2px 0;
            vertical-align: middle;
    
            &--package {background-position: 0 0;}
            &--plan {background-position: -20px 0;}
        }
    
        .detail__desc {
            @include multi_ellipsis(3);
    
            width: 67%; height: 60px;
            margin: 0;
            padding: 0;
            color: #333;
            font-size: 12px;
            line-height: 1.7em;
            letter-spacing: -0.5px;
            word-break: keep-all;
            word-wrap: break-word;
        }
        .detail__price {
            position: absolute; bottom: 13px; right: 20px; left: 20px;
            color: $point-color;
            font-size: 12px;
            line-height: 1.7em;
            letter-spacing: -0.5px;
            text-align: right;
        }
        .detail__name {
            @include multi_ellipsis(1);
    
            width: 67%;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #333;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.7em;
            letter-spacing: -0.5px;
    
            & ~ .detail__price {bottom: 18px;}
        }
    } //.card__detail
    .card__badge {
        position: absolute; top: 18px; right: 18px;
        z-index: 20;
    
        .badge__item {
            display: flex;
            width: 36px; height: 36px;
            margin-bottom: 8px;
            color: #fff;
            font-size: 11px;
            font-weight: 600;
            line-height: 1.2em;
            text-align: center;
            letter-spacing: -0.5px;
            background-color: #333;
            border-radius: 36px;
            align-items: center;
            justify-content: center;
            word-break: keep-all;
            word-wrap: break-word;
    
            &--grade1 {background-color: #ff1a5a;}
            &--grade3 {background-color: #fff; color: #333; font-weight: 600;}
            &--grade4 {background-color: #00ecae;}
            &--grade5 {background-color: #00beff;}
            &--grade6 {background-color: #8542ff;}
        }
    } //.card__badge
}

@mixin alphaDetailHeading($keyword) {
    padding-bottom: 24px;

    .#{$keyword}__subject {
        display: inline-block;
        margin: 0 2px 18px;
        border-bottom: 2px solid #c5c5c5;
        color: #ccc;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.3em;
        letter-spacing: -0.5px;
        text-transform: uppercase;
    }
    .#{$keyword}__heading {
        margin: 0;
        padding: 0;
        color: #555;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.5em;
        letter-spacing: -1px;
    }
}

@mixin contentShadowBox {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
