@charset "utf-8";

.lesson-ticket__home {
    .banner__content {
        height: 68px;
        color: transparent;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 50% 50%;
    }
}
