@charset "utf-8";

.plan__tutor {
	position: relative;
	max-width: 860px; height: 280px;
	margin: 0 auto;

	@media (min-width: 768px) and (max-width: 1199px) {
		height: 530px;
	}

	@media (min-width: 1200px) {
		height: 740px;
	}
}
