@charset "utf-8";

@mixin restartTextGradientDark {
	background: linear-gradient(100deg,#5d04d9 40%,#9523f3 50%,#e1bcff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin restartTextGradientLight {
	background: linear-gradient(100deg,#5d04d9 30%,#b132ff 50%,#deb6ff 70%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.event_restart * {font-family: 'Noto Sans KR', sans-serif;}
.event_restart {
	padding-bottom: 78px;
	background-color: #F1F1F1;

	@media (min-width: 1200px) {
		padding-top: 137px;
	}
}

@media (min-width: 1200px) {
	.plan__section {
		padding-top: 100px;
		padding-bottom: 100px;

		.section__heading {
			font-size: 25px;
			line-height: 32px;
		}
	}
	.plan__tutor {
		height: 530px;
	}
	.plan__summary {
		width: 600px;
		margin: 0 auto;
		flex-direction: row;
		justify-content: space-between;
		font-size: 14px;
		line-height: 21px;

		.summary__text {
			font-size: 50px;
			line-height: 60px;
		}
	}
	.circle-effect {
		transform: scale(.73) translate(-50%,-50%);
	}
}