@charset "utf-8";

.restart-recomm {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	background-color: #fff;

	@media (min-width: 1200px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.heading {
		@include restartTextGradientLight;

		margin-bottom: 50px;
		font-size: 32px;
		font-weight: 900;
		line-height: 38px;
		letter-spacing: -2px;

		@media (min-width: 1200px) {
			font-size: 36px;
			line-height: 44px;
		}
	}
	.description {
		margin-top: 50px;
		margin-bottom: 20px;
		color: #5D04D9;
		font-size: 18px;
		font-weight: 600;
		line-height: 23px;
		letter-spacing: -1px;
	}
}