@charset "utf-8";

/* main visual */
.main_visual {
    overflow: hidden;
    position: relative; z-index: 10;
    height: 640px;
    padding-top: 80px;
    background: url('//cdn.tutoring.co.kr/uploads/home/img/tutoringgo/enHome/titleBG-night.jpg') 0 0 no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    letter-spacing: -0.5px;
    box-sizing: border-box;

    @include all_desktop {
        height: 1024px;
        padding-top: 158px;
        background-image: url('//cdn.tutoring.co.kr/uploads/home/img/tutoringgo/enHome/titleBG-night.jpg');
    }
    @include big_desktop {
        overflow: hidden;
        height: 800px;
        padding-top: 189px;
        background-image: url('//cdn.tutoring.co.kr/uploads/home/img/tutoringgo/enHome/titleBG-night.jpg');

        &:before {
            content: "";
            position: absolute; bottom: 0; left: 0; z-index: 20;
            width: 100%;height: 118px;
            background-color: rgba(60, 42, 196, 0.65);
        }
    }

    .tit_visual {
        font-size: 20px;
        font-weight: 100;
        line-height: 32px;

        @include all_desktop {
            padding-right: 60px;
            font-size: 28px;
            line-height: 52px;
            text-align: right;
        }
        @include big_desktop {
            overflow: hidden;
            width: 1100px;
            margin: 0 auto;
            padding-right: 0;
            font-size: 54px;
            line-height: 76px;

            .m-cn {display: none;}
        }

        em {
            display: block;
            font-weight: 600;
        }
    }
    .link_free {
        display: block;
        width: 156px; height: 46px;
        margin: 14px auto 0;
        color: $point-color;
        font-size: 16px;
        font-weight: 600;
        line-height: 46px;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;

        @include all_desktop {
            width: 269px; height: 80px;
            margin-top: 32px;
            margin-right: 60px;
            font-size: 28px;
            line-height: 80px;
        }
        @include big_desktop {
            position: absolute; top: 400px; left: 50%; z-index: 20;
            width: 187px; height: 60px;
            margin: 0 0 0 363px;
            font-size: 20px;
            line-height: 60px;
        }
    }
    .link_coupon {
        display: inline-block;
        margin: 25px auto;
        padding: 5px 10px;
        text-decoration: underline !important;
        cursor: pointer;

        @include tablet {
            float: right;
            margin-right: 60px;
        }
        @include big_desktop {
            position: absolute; top: 480px; right: 50%; z-index: 20;
            width: 187px;
            margin: 0;
            padding: 0;
            font-size: 16px;
            text-align: center;
            transform: translateX(550px);
        }
    }
    .anchor_date {
        display: none;
        position: absolute; right: 30px; bottom: 47px; z-index: 20;
        color: #fff;
        font-size: 15px;

        @include big_desktop {
            display: block;
        }
    }
    .winner_visual {
        display: none;
        position: absolute; top: 0; left: 50%;
        width: 50%; height: 200px;
        background: url('//cdn.tutoring.co.kr/uploads/home/img/main/version3/win1.png') no-repeat 405px 0;
        background-size: 155px 184px;

        @include big_desktop {
            display: block;
        }

        .item_medal {
            display: block;
            overflow: hidden;
            width: 1px; height: 1px;
            margin: -1px;
        }
    }
} // main_visual
.main_visual_sub {
    display: none;

    @include all_desktop {
        display: block;
        position: absolute; top: 460px; right: 0; left: 0; z-index: 10;
        padding-right: 112px;
    }
    @include big_desktop {
        position: relative; top: 0;
        width: 1100px;
        margin: -189px auto 0;
        padding: 0;
        text-align: left;

        img {margin-left: -180px;}
    }

    img {
        width: 570px;
    }
}
.main_visual_sub_m {
    position: relative;
    width: 100%; height: auto;
    padding-top: 30px;

    @include all_desktop {
        display: none;
    }

    img {
        width: 218px;
    }
}
// main_visual

// main content
.list_visual {
    @include clear;

    position: absolute;
    bottom: 0; right: 0; left: 0; z-index: 20;
    padding: 24px 0;
    background-color: rgba(60, 42, 196, 0.65);
    text-align: center;

    @include all_desktop {
        height: 177px;
        padding: 0;
    }
    @include big_desktop {
        overflow: hidden;
        width: 1100px; height: 118px;
        margin: 0 auto;
        background-color: transparent;
        text-align: left;
    }

    li {
        display: inline-block;
        position: relative;
        padding: 0 7px;
        font-size: 15px;
        line-height: 26px;
        letter-spacing: -1px;
        box-sizing: border-box;

        @include all_desktop {
            float: left;
            width: 25%; height: 100%;
            padding: 23px 0 0 0;
            font-size: 18px;
            line-height: 1em;
        }
        @include big_desktop {
            padding-top: 70px;
            padding-left: 110px;
            
        }

        &:nth-child(even):before {
            content: " ";
            display: inline-block;
            width: 1px; height: 12px;
            margin-right: 7px;
            margin-left: -8px;
            vertical-align: middle;
            background-color: rgba(255, 255, 255, 0.3);
        }

        @include all_desktop {
            &:before,
            &:nth-child(even):before {
                content: "";
                position: absolute; top: 50%; left: -2px;
                width: 2px; height: 60px;
                margin: -30px 0 0 0;
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
    em {
        padding-left: 2px;
        color: #ffe812;
        font-weight: 600;

        @include all_desktop {
            position: absolute; top: 90px; right: 0; left: 0;
            font-size: 30px;
            line-height: 1em;
            font-weight: 500;
        }
        @include big_desktop {
            top: 30px; right: auto; left: 110px;
            padding-left: 0;
        }
    }

    .ico_g_main {
        display: none;
        width: 60px; height: 60px;
        margin: 0 auto 53px;

        @include all_desktop {
            display: block;
        }
        @include big_desktop {
            position: absolute; top: 50%; left: 30px;
            transform: translateY(-50%);
        }

        &.ico_down{background-position:0 -330px}
        &.ico_star{background-position:-60px -330px}
        &.ico_graph{background-position:-120px -330px}
        &.ico_mark{background-position:-180px -330px}
    }    
} // list_visual
